/* carsonp.net css */

/* Colors */
:root {
  --c-main: rgb(255, 255, 255);
  --c-pink: rgb(255, 186, 246);
  --c-black: rgb(20, 20, 22);
  --c-grad-pink: rgba(238,174,202,1);
  --c-grad-lblue: rgba(148,187,233,1);
  --c-grad-dblue: rgba(30,44,61,1);
  --c-grad-purple: rgba(56,35,74,1);
}

/* Red 50 Regular Italic */
@font-face {
  font-family: 'Red 50 Italic';
  src: url('fonts/red/r50-italic.woff2') format('woff2');
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: 'Red 50 Bold';
  src: url('fonts/red/r50-bold.woff2') format('woff2');
  font-weight: 50;
  font-style: bold;
}

@font-face {
  font-family: 'Red';
  src: url('fonts/red/red-regular.woff2') format('woff2'),
}

html, body { height: 100%; margin: 0; padding: 0 }

a {
  color: var(--c-black);
  text-decoration: underline;
  text-decoration-color: var(--c-pink);
}

h1 {
  font-family: "Red 50 Italic";
  font-size: 25px;
}

/* Centering main content */

.section {
  margin: 0 auto;
  height: auto;
  background-color: var(--c-main);
  color: var(--c-black);
}

/* For text to center within sections of the page. */
.inner {
  margin: auto;
  max-width: 700px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 0px;
  font-family: "Red", serif;
  font-size: 18px;
}

#title-padding {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Top introduction section - includes greeting and subheading. */
#intro {
  background-color: var(--c-black);
  color: var(--c-main);
}

#greeting {
  font-family: "Red 50 Bold", sans-serif;
  letter-spacing: -.15rem;
  font-size: 50px;
}

#sub-greet {
  font-family: "Red 50 Italic", serif;
  font-style: italic;
  font-size: 25px; 
}

