/* Berkeley Mono Font */
@font-face {
  font-family: "Berkeley Mono";
  src: url("/assets/fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("/assets/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("/assets/fonts/BerkeleyMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-400-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-400-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("/assets/fonts/EBGaramond-700-Normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg: #f8f7f3;
  --fg: #21221e;
}

html {
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--fg);
  line-height: 1.5;
  font-size-adjust: 0.53;
}

body {
  margin: 0px;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "EB Garamond";
  max-width: 80ch;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}

header {
  margin-top: -1rem;
  margin-bottom: 0.6rem;
}

header .title {
  display: flex;
  align-items: baseline;
}

header .title-symbol {
  font-family: "Berkeley Mono";
  font-size: 2.7rem;
  position: relative;
  top: 6px;
}

header .title-sub {
  font-size: 2rem;
}

h1 {
  font-style: bold;
  font-size: 1rem;
}

a {
  color: var(--fg);
  text-decoration: underline;
  text-decoration-color: var(--fg);
  text-decoration-thickness: 1px;
}

#commit {
  font-style: italic;
  font-weight: bold;
  font-family: "Berkeley Mono"
}

/* Contribution Scrolling Animation */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* Make the contribution carousel animate */
svg {
  display: flex;
  will-change: transform;
  animation: scrolling 15s linear infinite;
}

#contributions {
  box-sizing: border-box;
  display: flex;
  > * { flex: 0 0 1500px; }
  -webkit-mask-image: linear-gradient(
  to right,
  transparent 0%,
  black 10%,
  black 90%,
  transparent 100%
  );
  mask-image: linear-gradient(
  to right,
  transparent 0%,
  black 10%,
  black 90%,
  transparent 100%
  );
}

.spacer {
  margin-top: 40px;
}
