/* Berkeley Mono Font */
@font-face {
  font-family: "Berkeley Mono";
  src: url("/assets/fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("/assets/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("/assets/fonts/BerkeleyMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Set variables */
:root {
  --bg: #f0eee7;
  --bgoff: #e3e1d7;
  --fg: #21221e;
  --grey: rgba(130, 130, 123, 0.5);
  --pink: #e4a0db;
  --green: #53d99c;
}

html {
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 16px;
}

body {
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Berkeley Mono";
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}


h1 {
  font-style: bold;
  font-size: 1rem;
  margin-top: 40px;
}

a {
  color: var(--fg);
  text-decoration: underline;
  text-decoration-color: var(--fg);
  text-decoration-thickness: 1px;
  font-weight: bold;
}

#commit {
  font-style: italic;
}

/* Contribution Scrolling Animation */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* Make the contribution carousel animate */
svg {
  display: flex;
  will-change: transform;
  animation: scrolling 15s linear infinite;
}

#contributions {
  box-sizing: border-box;
  /* width: max(150vw, 200vh); */
  /* overflow: hidden; */
  display: flex;
  > * { flex: 0 0 1500px; }
  -webkit-mask-image: linear-gradient(
  to right,
  transparent 0%,
  black 10%,
  black 90%,
  transparent 100%
  );
  mask-image: linear-gradient(
  to right,
  transparent 0%,
  black 10%,
  black 90%,
  transparent 100%
  );
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.spacer {
  margin-top: 40px;
}
